body {
  color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  font-family: sans-serif;
  text-align: center;
}


.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  cursor: pointer;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background: rgb(26, 151, 240);
  border: solid #fff;
  border-width: 1px 1px 0 1px;
  color: #fff;
}